Source: seagullstrike
Section: user/games
Priority: extra
Maintainer: Michael Sheldon <elleo@gnu.org>
Build-Depends: debhelper (>= 7), dpatch, libqt4-dev
Standards-Version: 3.8.4
Homepage: http://www.mikeasoft.com

Package: seagullstrike
Architecture: any
Depends: qt-components, qml-box2d, ${shlibs:Depends}, ${misc:Depends}
Description: Protect your seaside lunch from greedy seagulls.
 Just as you settle down for a delicious plate of chips in the sleepy
 seaside town of Aberystwyth a flock of ravenous seagulls descend upon you.
 .
 Birds have had it too good for too long in 2D physics games, now's your
 chance to redress the balance...
XB-Maemo-Display-Name: Seagull Strike
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAFAAAABQEAQAAAB0iOZlAAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAA
 AEgAAABIAEbJaz4AAAAJdnBBZwAAAFAAAABQAKPn6KoAAA7nSURBVHja7V1pVFRXtv7uvTVAQVFM
 TkwtxBURRUWJCTG8GF20ElCjEs2kwSgOMeZp0qY1Bvu9NBrNWunoM520iemQCRtsXTGLGIdoJAqx
 g6ASBqXj0ChGZayigBru8H5sCgqZqSoKNN9aZxV1h1P3fLWHs/fZdQB+g01g+uqDzpxRqVy3Tpgg
 fThuHBsTGsp+HxQkPePtzV719GSme3gw0zUaRqlUdquzcoNBzNPppMM6nfRITY30S3W1mFZWJk0o
 KcGfCgoMEWfPRkY2NAxoAouV0dHiP+PiuF2TJ8uMYWHMq15eYgjDSBIgioAk0XWiSK+S1HLM8r7V
 gzKt/7a8Z9mWYyzb9HpZkqSk6mohrrhYvJKdLSZkZo5Jys7u1wRKEsMUPzlvHnchMZH9Mjoarh4e
 okgECUILUX0FlgU4jl5ZFmCuarXm3JMnxbjU1NHj9u+nr7IfEJh/ys9P6ZeSojw9Z44Y6enJ884h
 rCtYCJXJAOZIba156b59jFdy8qjGX3+1pd9eE1hQEBIiv7l9uzx2+nRzoULB8/2PtI7AskSkTGk0
 8ssOHTIcXbMmgrl6tTd99ZjAjAyOG7Nt+3buw6Qk3kWpNJvb2quBAoYB5HJAZjAajY/v2rXv5tq1
 /8v0TAx6RGBBQUgI9+bBg8ybI0cajQNH4roCywJKJcDEFxfr3o2Pf3D2lSvdvbfbBObfiI1Vnk5P
 N4eo1Wazs4fsGMjlgPyATmeampAQEX30aHfu6RaB524vWMClpKaanndx4XlnD9OxkMkAZXJjo9Ev
 MXHi7oyMrq7vksAzHjExiszMTIOLQiEIzh5e34DjAJd/GY3Gb+PjHzj43XedXdspgd9LY8Z4JeXk
 GJaq1fcKeRZwHODyok5n1EZFPXipuLij6zolMI8vKTGfCQ29W21eV1AoAMX+wsKIbeHhHV3DdXTi
 9N+2bAHmzDEYWsKse63xPMCOHTw4Sc6yH+WeONEeT+1KYK5LYKC078KFRneV6m6ZqvQWLAuoduj1
 /L9CQ6PKy8vbnG/vJj56506jh0pliS7u5cbzgGGtuzue3LGjPa7aSGCuS2Cg+ZNLlxoGyeUDNcKw
 NxgGcEs2Gs1PBgf/1yutY+c2Emj60+bNpmFyuSXl9FsjSTRtVSqZgJSUNuRav8nI4Dj/jKqq+mUa
 zd1g+wQBKC8HfvkFqKwEvLyA0aMBP7+e98WygCqgpmbyKB8f61SYzPqiIVkLFphWaTR8o7OHbhv0
 euDwYeDgQSAkBHjgAWoXLgBvvw24uwPLlwP+/i33mExAbi7w889ATQ3w7LNAUFDLeVEEzLe8vE5V
 JiQAe/e2SyAMixaZTAM7SfDDD8CnnwKLFxMhvr7AiROApyewYgVdk54OrFkDbNgAaLVEdkkJMHYs
 MHQo8N13QEwMEBDQum+TCWBMixdbE9iswpLEMN+/qNU2xKnVA5FAUQR27SJV/fxzYORIOh4XRxPi
 q1eBF14AVq+m4ydPArNmAffdR6/h4UT+l18CCxcCU6a0/QyWBdzitNop8PKyqHEzgVlu0dGG/T/8
 0DgA1ZfngXffJXX9+98pIQCQdI0ZA1y7BhQVAUlJQE5Oy31r1wI6HXD//SS1KhVdM3Rox5/l6gpg
 z+TJ01Opp2YV5kfPnDmQssrW+PxzICyMJNB68UmjAQYNAl5/nVT00Udb3/f880B8PPDjj8CCBaTC
 QOcc8DyguBAfb/kqmgkUIqOiBiKBx4+Tp927tzV5Fhw5AqSlASNGEGHW8PamROqf/9w1cdYEygdF
 RVneNxMorh850vzTwCFQEMgZ3L4NZGZSMrQ9+PoCL7/c/rncXGD48J6N2WwGFOmhoVDRexYAjoS7
 uQlbfX0FwfmT1u602lpg61Zg8GDysEOG9O5LSEsj59GTzxYEQAwdPDgjXaEALBKYNH68OYhhxAHg
 QC5dIluXnEwGv7c4cwbIzwfmzu251vE7WVZdOm4ckJsrAwAxbfx4YV3/V9/Tp4GvvgL+8Q/g4Yd7
 3099PU1V5s8nu9ljAnlAsTcioplAY8zo0f3dgRw9CuTlEYm9CcUskCQgMZHmieHhvRszzwPiDUqy
 kgqv8PcXsvongZJEUldRAZw6RRGFLX2tXElee9my3o9XEADhFgWCpMJyb29L/qs/QRCAL74APDwo
 vHJxsa2vF18kKbaEdL0drygC4lIfH3zQ5IXF96imxdnJS+tmMADvv09Rwv79nZN35QqFaIcPt3++
 sRF44gmgtJSSCCxre5JV2Ey6wAKAMKalkqo/NL0e2LEDmDGDPC7HoVP4+QEPPgi88w7dU1HRco7n
 gcceI9KeeabFadjcAj08mgkUi93dLRVVzm41NUTesmXA5s3dUymlEnjuOYo64uKAhx6iKQoAFBYC
 DQ103JIctbUJAiDku7sDTTZQKFcohKHOLxKqqAA++ghISQEWLepdH6tXAxERQEICcOwYRawBAfa1
 75IECP+2nkh/zbJihHMJvHKFHEZaGqmcLXjkEVLnWbNIOqdOtS+BDAOIjWRYZADA13KcddltX+Py
 ZZocZ2QA0dH26XPOHCArC9izBwgMdACBnBWBog/HOat0o6CAbNexY8CoUfbte9MmSpA2Nto2BWoP
 osaKQCmY45whfXl5lBk+fpzSTfaGSkUe3BHaJW2itC1JYB+HcZJEpN24QcnMzjLAtmDTJspIK5X2
 H5/YVOZH05ifBKGvpikmE9k7gEIzR5FnSaROm+agsaygSkmSwFOCIOXIZI5WY72ejPrjjwN/+UvL
 bzzsjUuXKPu8cCGtj9hb+hgGEI+S1yAbeEwQRKVjvfDNmyR5yckUkzoKZjPNAadMAXx8HGOaGAZA
 DhHIAoCU6VgVPneOpihffEHkmc3AunVAVZX9B/faa7RyNnasY02RkGYtgRtNJqnI/t+WIFAWpb6e
 8niBgXRcLifbN3YsRQ2TJgGRkVQ9MGhQ7z/v0CFKPCxe7FinyLIAM8FoBCzFRXK93l5xoqVdu0Zh
 2ahR5Gkt5Fnw6qu02L1xI5VafPwxkTliBK3XnjvXs0H9+iuwZAkwe3bL1MVRTZIAaV1dHdAkgYxO
 q7WctBWCQN714kUiZcaMjq+Vy4GoKGqvvELHrl4FvvkGePppCsW2beveZ86bR0kER9k9azAMwLyq
 02FnkwQy79TWMoztq2Xl5UBqKqlnUVHn5HWE4cOBVauA8+cpv2fJqnSG5GQisacrbL1tDAMw79XW
 AhYb+EBtrS0SWFcHZGcD1dWUv4uNtf1bVigoLi4tBSZM6Pi6o0fJOT37bN8FA6IISB/X1DQTyBWV
 lUlDev4ABgOFYyUlwPr1JDkdLXD3BjxPRHaE69dpvjdzZovd6yswqrIy1FgkcGFREcq7/wAGA6lY
 URGwdClw4ACtW9gLpaWkvhZb2B4aG2lCHhnZN3bPGpIEcFxBAWAhcEh+fncIrKsj4i5fplKxjAx6
 +DtRX0+kMgx5VX9/mp5YS6fJRCpfVUUO5+JFsnfZ2eSVLUuXwcHtDyAhgYqHwsL6ljwLuOK8PLg3
 EejTcO5chUIURX37wVVVFRFXUUHeMimJMh3W0OtJYtLSiITgYCKwro7O1dWRoW9+AA5wc6N+vLxI
 gn18aLHborbnz7e/BpycTAnYuDjnkMe48bz6YGEh0ETg/AUm0xZVZSVWDR5s/UC3b1PJa309ZTae
 eqql9g6g9YvMTDLieXnA735HXnThwq4XgjqDJeng6tq2n88+Az75hBKmd+6z0BdgWUAWXFExf55V
 JAIA8vWFhYx+6lQLgbm5wK1bwJYtVD/CslTUc/Ik2afjx+l9UBCp6HPPtU4O2CoZOh0wbFjrY+np
 VOs3cyZJqVNUlwOUj5D9a03gsJwc5pcWAouLaWKank7VnyUl9ND+/lQyFhUFqNWtO7fngBoaWtvX
 rCyqa54xg7LLziAPILMke+jHH9sQqHjt22+x7I03LA82dy7VG/M8kRYe3nZK4chBMAwlHQAyE0uW
 UOG3Wu088ppJ+/DgQcQ0PafloCQxTHKhVqv9sH8UmRsM5MljY2my/NhjVFHqTLAs4LlGq30zpKXI
 vNlqMYwkqddnZdli/O0JFxeqab55k8oynE0eQA5UPefECesf2rSatridSE219rLOxtChVBvTX75U
 jgPUSbt3Wx9r81OvnydWVdVuvzt+6mVPsCzguaqm5s2RrX/q1UoC588XBI/sjAx7xrN3C+RyQKPa
 s+fOLaPaRB4eDa+/7lJqMDhqwWcggmUB14sNDT6BGze2OXfngeUrKiu9NF9/3Z9sobMhkwGa/zlw
 YDFDOUBrtCtnPtv+8Ae3y3r9b1LY9DPXeXV16pvr1rV7vr2DLwRcu+Z9a8OGbm6HeFdDqQR8Dq9f
 v3Jm2/0SgC62Pdm8/ezZyv+MH28yOXsYzoFCAfhU5ee/8dnEiR1d06mS+rrExGgCb9y4F72yXA54
 7isv9yz5/e87u65TApevqKz0PhIT4xan1faXyWxfgOMA9X9qawNWTZv2Um7ny/9duomXDxUX+7o/
 /bR7jl5/L3hmmQxwn15X53PzqaeW/PHixa6u7/b2d3+9OGrU7fePHNEyAQF361ZQcjngNeX69eHi
 tGnPzy0t7c493Z6orBpZUuIXNmmSb3V+vqur4yqrnAGWpez3oE9zc/1CIiO7Sx7Qyz1Ud+xevfr2
 RykpDQ97eNwNW4CqHtdqhwkbNrw044MPetpHr1zDoa9/+ml+bHq6PCckBGxwMAZRifBAIZJlaYqi
 WmQ0eqd9843PiNmzX5rb+T6BHcHmbZB3fuXnV78yJaXus7lzjYc1moGwDbLrpdpa97f27fPMSk5e
 vtxJ2yDfCUlimJ2x8+bV/5yYqA+IjjZG96+NuJXTtVq3zJMnVW+lpv63az/aiLsj/F9ZdLRxRVyc
 QZg82SQPCzN+6uUlvtVHW8FvkCTF+epq5aTiYtdF2dnKiZmZqzf2863gu8KuXSqV4Y8TJvBDx43j
 V4WGiolBQXyCt7f4tqenuNvDg5+l0Ug7KPoWP5DLpfdaT92ZlwSBXUkTKLbOYODG6nTsUp2Ova+m
 Rjanupp7tKyMu15SoggsKFD4nj27fHnf/DOC32Aj/h9TeYfFp0AsyAAAACV0RVh0ZGF0ZTpjcmVh
 dGUAMjAxMS0wNy0xNlQxNTowMzo1NiswMTowMAvDp74AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTEt
 MDctMTZUMTU6MDM6NTYrMDE6MDB6nh8CAAAAcXRFWHRzdmc6YmFzZS11cmkAZmlsZTovLy9zY3Jh
 dGNoYm94L3VzZXJzL21pa2UvaG9tZS9taWtlL3NjcmF0Y2hib3gvc3JjL2dhbWVzL3NlYWd1bGxz
 dHJpa2UtMC4xL3NyYy9zZWFndWxsc3RyaWtlLnN2ZzmSZtkAAAAASUVORK5CYII=
