[Desktop Entry]
Encoding=UTF-8
Version=0.1
Name=Seagull Strike
GenericName=Seagull Strike
Comment=Seagull Strike
Exec=/usr/bin/invoker --type=e -s /opt/seagullstrike/bin/seagullstrike
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/80x80/apps/seagullstrike.png
